@charset "UTF8";

body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

#kanji {
    font-size: 100px;
    margin: 20px 0;
}

#furigana {
    font-size: 30px;
    color: gray;
    margin: 10px 0;
}

.kanji-image {
    max-width: 200px;
    margin-top: 20px;
    transition: transform 0.3s ease;
}

.options button {
    background-color: white;
    color: black;
    border: 2px solid red;
    margin: 10px;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    transition: transform 0.1s;
}

.options button:hover {
    background-color: red;
    color: white;
    transform: scale(1.1);
}

#score {
    font-size: 20px;
    margin-top: 20px;
}

/* Animações para os acertos e erros */
.correct {
    background-color: green;
    color: white;
    animation: correctAnimation 0.5s forwards;
}

.error {
    background-color: red;
    color: white;
    animation: errorAnimation 0.5s forwards;
}

@keyframes correctAnimation {
    0% { background-color: green; }
    100% { background-color: lightgreen; }
}

@keyframes errorAnimation {
    0% { background-color: red; }
    100% { background-color: lightcoral; }
}